name: AWS Lambda Deploy

on:
    push:
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: eu-central-1
            - name: deploy
              run: |
                  zip -j deploy.zip ./lambda/*
                  aws lambda update-function-code --function-name=arn:aws:lambda:eu-central-1:467129973541:function:helloFromLambda --zip-file=fileb://deploy.zip
